<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>
  </head>
  <body>
    <%= render "shared/navbar" unless turbo_native_app? %>
    <%= render "shared/flashes" %>
    <%= yield %>
  </body>
</html>
